apiVersion: v1
kind: Service
metadata:
  name: load-balancer
  namespace: isc3
spec:
  selector:
    name: sim
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
      nodePort: 80
  type: LoadBalancer
status:
  loadBalancer:
    ingress:
    - ip: 192.168.91.10