apiVersion: apps/v1
kind: Deployment
metadata:
  name: sim-deployment
  namespace: adga-sim
  labels:
    app: sim
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sim
  template:
    metadata:
      labels:
        app: sim
    spec:
      containers:
      - name: sim
        image: dij0s/headless-sim:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: 250m
          limits:
            cpu: 500m 
