services:
  headless-sim:
    build:
      context: .
      dockerfile: Dockerfile.headless
    image: dij0s/headless-sim:latest
    stdin_open: true # Keep stdin open even if not attached
    tty: true # Allocate a pseudo-TTY
